<?xml version="1.0" encoding="UTF-8"?>
<beans default-merge="true" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        
        <bean class="com.app.beans.Student" id="student" abstract="true" >
        
           <property name="subjects">
             <set>
               <value>English</value>
               <value>Maths</value>
              </set>
            </property>
        
         </bean>
        
        <bean class="com.app.beans.Student"  id="s1"  parent="student">
        
        
        
          <property name="subjects">
            <set merge="true">
             <value>OOPL</value>
             <value>DSA</value>
             <value>Networking</value>
             </set>
           </property>
          
          </bean>
         
         
         
          <bean class="com.app.beans.Student" parent="student">
          <property name="subjects">
           <set>
             <value>NoSQL Database</value>
              <value>Networking</value>
               <value>Unit Testing</value>
            </set>
           </property>
         </bean>
        
         
         <bean class="com.app.beans.Student"  parent="student">
           <property name="subjects">
             <set>
              <value>DSA</value>
              <value>Python</value>
              <value>SQL Database</value>
              </set>
            </property>
          </bean>
        
        
        <bean class="com.app.beans.Student" parent="student">
          <property name="subjects">
           <set>
             <value>NoSQL Database</value>
              <value>Networking</value>
               <value>Automation Testing</value>
            </set>
           </property>
         </bean>
         
         
        
        </beans>